/* ==========================================================================
  Formalize.sass styles
========================================================================== */

/* Label */
label { display: block; }

/* Input */
input, textarea { -webkit-appearance: none; border-radius: 0; }

input[type="radio"] { -webkit-appearance: radio; }
input[type="checkbox"] { -webkit-appearance: checkbox; }


/* Basic field height */
input[type="text"], 
input[type="email"], 
input[type="number"], 
input[type="password"],
input[type="search"], 
input[type="range"] { height: 2.25em; padding: 0 0.5em; }

/* Border */
input[type="text"], 
input[type="email"], 
input[type="number"], 
input[type="password"], 
input[type="file"],
input[type="search"], 
input[type="range"],
textarea,
fieldset { border: 1px solid #D5D5D5; }

/* Buttons */
input[type="button"], 
input[type="submit"], 
input[type="reset"],
button {
  border: none;
  display: inline-block;
  padding: 0 1em;
  cursor: pointer;
  line-height: 2.25;
  background: #333;
  color: white;
  width: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }

/* HoverButton */
input[type="button"]:hover, 
input[type="submit"]:hover, 
input[type="reset"]:hover,
button:hover { background: #444; }

/* ActiveButton */
input[type="button"]:active, 
input[type="submit"]:active, 
input[type="reset"]:active,
button:active { background: #555; }

/* Textarea styles */
textarea { padding: 1em; }

/* Legend */
legend { font-weight: bold; padding: 0 0.5em; margin-left: -0.5em; }

/* Fieldset styles & File Upload style */
fieldset { border-radius: 0.3125em; padding: 0.8125em 1.5em; padding-bottom: 0; }

/* Radio & Checklist Styles */
fieldset ul { list-style: none; }
fieldset ul,
fieldset ul label { margin-bottom: 0; }
fieldset li { margin-bottom: 1em; }
input[type="checkbox"], 
input[type="radio"] { width: auto; margin: 0 0.5em 0 0; }

/* Upload File Text */
input[type="file"] { font-size: 0.75em; padding: 2em; margin-bottom: 2em; }

/* Removed focus highlight */
input:focus, textarea:focus { outline: none; }



/* ==========================================================================
=============================================================================
=============================================================================
=============================================================================
=============================================================================
=============================================================================
=============================================================================
=============================================================================
=============================================================================
=============================================================================
=============================================================================
=============================================================================
=============================================================================
========================================================================== */